.main {
    background-color: #f2f5f5;
    color: rgb(66, 60, 60);
    font-weight: 500;
}

.blocks {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.blocks label {
    display: inline-block;
}

.form-control {
    background-color: #f2f5f5 !important;
}


input {
    margin-top: 2%;
}

.brief {
    /* width: 35%; */
    padding: 8% 3% 7%;
    font-weight: 600;
}

.mobile {
    display: none;
}

.fee {
    font-weight: 700;
}

.offer {
    background-color: rgb(62, 62, 230);
    color: white;
    padding: 0.2rem;
}


.formFill {
    /* width: 63%; */
    background-color: white;
    padding: 2rem 3rem;
}

.heading,
.sub-head,
.brief h4,
.info {
    color: rgb(65, 65, 165);
    font-weight: 400;
}

.sub-head,
.blocks {
    padding-top: 2%;
}

.submit,
.save {
    font-size: large;
    width: 50%;
    background-color: blue;
    font-weight: 600;
    border: solid 0.1rem blue;
    border-radius: 0.2rem;
    color: white;
    padding: 1%;
}

.save {
    background-color: white;
    border: solid 0.2rem skyblue;
    color: rgb(54, 147, 184);
}

.box {
    border: solid 0.2rem skyblue;
    padding: 1rem;
    font-size: 0.9rem;
    color: rgb(85, 83, 83);
    background-color: rgb(208, 226, 233);
}

.info {
    font-weight: 500;
}

.print {
    font-size: 1rem;
    text-align: end;
    visibility: hidden;
}



@media (min-width:426px) and (max-width:1023px) {
    .print {
        visibility: visible;
    }

    .ruler{
        display: none;
    }

    .brief {
        display: flex;
        padding-left: 8%;
        padding-bottom: 3%;
    }

    #article {
        width: 65%;
        margin: 0%;
        margin-left: 10%;
    }

    .formFill {
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .submit,
    .save {
        width: 60%;
    }

}

@media (min-width:0px) and (max-width:425px) {

    .brief {
        font-weight: 600;
    }

    .print {
        font-size: 1rem;
        text-align: end;
        visibility: visible;
    }

    form {
        width: 100%;
    }

    .sub-head {
        margin-top: 5%;
    }

    .lorem,
    .ruler{
        display: none;
    }

    .head {
        color: rgb(62, 62, 230);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;

    }

    .offer {
        width: 80%;
    }

    p.offer,
    #introd,
    h2 {
        margin-top: 8%;
        /* width:30%; */
        margin-left: 16%;
    }

    #article,
    #introd,
    .heading {
        display: none;
        padding-left: 4%;
    }

    .main {
        display: block;
        font-size: small;
    }

    .fee {
        text-align: start;
        margin: 0%;
        padding-top: 5%;
    }

    .mobile {
        display: block;
    }

    .submit,
    .save {
        width: 90%;
    }
}